* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: #fbfbfb;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  background-color: darkolivegreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  color: black;
}

.nav-links > * {
  color: black;
}

.active {
  color: darkseagreen;
  font-weight: bold;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */
.home-container {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.home-container .text {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30rem;
}
.home-container .text > div {
  padding: 10px;
  font-size: 2rem;
}

.home-container .text a {
  background-color: yellow;
  width: 200px;
  padding: 20px 30px;
  background-color: black;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.home-container .text button:hover {
  background-color: rgb(1, 17, 1);
}

.plant-img {
  width: 500px;
}
/* Home */

/* footer */
footer {
  background-color: darkolivegreen;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a img {
  margin-top: 8px;
}
