* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

body {
  overflow-x: hidden;
  height: 100vh;
  background-color: #fbfbfb;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  background-color: darkolivegreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  height: 50px;
}

.nav-links {
  /* background-color: red; */
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  color: black;
}

.nav-links > * {
  color: black;
}

.cart-icon {
  width: 40px;
  /* padding: 10px; */
}

.red-circle {
  background-color: rgb(223, 83, 83);
  padding: 2px 6px;
  border-radius: 50%;
  position: relative;
  left: -15px;
  top: -9px;
  color: black;
}

.active {
  color: darkseagreen;
  font-weight: bold;
}

.container {
  /* min-height: 100%; */
  /* background-color: lightcoral; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */
.home-container {
  padding: 10px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.home-container .text {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30rem;
}
.home-container .text > div {
  padding: 10px;
  font-size: 2rem;
}

.home-container .text a {
  background-color: yellow;
  width: 200px;
  padding: 20px 30px;
  background-color: black;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.home-container .text button:hover {
  background-color: rgb(1, 17, 1);
}

.plant-img {
  width: 500px;
}
/* Home */
/* !shop */
.shop-container {
  /* background-color: red; */
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.product-grid {
  /* background-color: lightblue; */
  display: flex;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
  align-items: center;
}

/* !card */
.card {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  /* padding: 10px; */
  background-color: #ffffff;
  text-align: center;
  /* height: 320px; */
  /* width: 250px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /* bx s */
  box-shadow: -6px 3px 15px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -6px 3px 15px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 3px 15px -1px rgba(0, 0, 0, 0.75);
  /* bx s */
}
.card-image {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  width: 100%;
  /* background-color: white; */
}
.card .card-image img {
  width: 250px;
}

.card-info {
  width: 100%;
  height: 100%;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  /* background-color: lightcoral; */
  text-transform: capitalize;
}
.card-info > * {
  margin-bottom: 10px;
}
.card-info button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.card-title {
  font-weight: 600;
  color: black;

  text-align: start;
}

/*! contact  */
.contact-container {
  background-color: rgb(15, 27, 15);
  padding: 4em;
  color: white;
  /* padding: 20px; */
  /* width: 45%; */
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 5px;

  /* flex-direction: column; */
  /* justify-content: space-around; */

  /*box shadow  */
  box-shadow: -4px 3px 22px 3px rgba(15, 27, 15, 0.76);
  -webkit-box-shadow: -4px 3px 22px 3px rgba(15, 27, 15, 0.76);
  -moz-box-shadow: -4px 3px 22px 3px rgba(15, 27, 15, 0.76);
  /*box shadow  */
}

.text-contact {
  /* background-color: khaki; */
  font-size: 1.2rem;
}
.text-contact a {
  color: white;
  text-decoration: underline;
}
.text-contact a:hover {
  color: lightblue;
}

/*! cart */
.cart-container {
  /* border: 2px solid gray; */
  /* background-color: lightblue; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.cart-list {
  /* background-color: lightcoral; */
}

.cart-card {
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  border-bottom: 1px solid lightgrey;
  /* background-color: lightgray; */
}

.cart-list-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-card img {
  width: 100px;
}

.cart-card .cart-btn {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: none;
}

.cart-count {
  display: flex;
  /* background-color: lightgreen; */
  gap: 15px;
  padding: 10px;
}
.delete-btn {
  background-color: lightpink;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
}

.checkout-section {
  /* background-color: lightblue; */
  /* gap: 100px; */
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.checkout-section div {
  /* background-color: red; */
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 25px;
}

.checkout-btn {
  border: none;
  background-color: aqua;
  font-weight: 600;
  /* background-color: lightblue; */
  /* border: 1px solid ; */

  padding: 10px 20px;
  cursor: pointer;
}

/* footer */
footer {
  background-color: darkolivegreen;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a img {
  margin-top: 8px;
}
